{% extends "oliapp/base.html" %}
{% from "oliapp/_formhelpers.html" import render_field %}
{% block title %}{{ current_user.name }}'s Benchtop{% endblock %}

{% block content %}

<h1>{{ current_user.name }}'s Benchtop</h1>

    <div class="row-fluid">
        <div class="col-md-8">
        {% if current_user.benchtop_oligosets %}
        <h3><span class="benchtop_size">{{ current_user.benchtop_oligosets | length }}</span> oligosets on your benchtop
            <a class="btn btn-info btn-sm" data-toggle="collapse" href="#experiment_form" aria-expanded="false" aria-controls="collapseExample">
                Save <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>
        </h3>
        <div class="collapse" id="experiment_form">
          <div class="well">
            <form method="POST">
                <dl>
                    {{ form.csrf_token }}
                    {{ render_field(form.saveas, class="form-control") }}
                    {{ render_field(form.name, size=20, class="form-control") }}
                    {{ render_field(form.description, size=100, class="form-control") }}
                    {{ render_field(form.is_public, class="form-control") }}
                </dl>
                <input class="btn btn-primary btn-sm" type="submit" value="Make Experiment">
            </form>
          </div>
        </div>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>id</th>
                        <th>oligoset name</th>
                        <th>gene symbol</th>
                        <th>gene name</th>
                        <th>date</th>
                    </tr>
                </thead>
                <tbody>

                {% for i in g.onbench %}
                    <tr>
                        <td>
                            <a href="javascript://" onclick="Sijax.request('oligoset_benchtop', [{{ i.id }}]);" title="{{ i.target.taxonomy}}-{{ i.tmid }} on your benchtop" class="nounderline">
                            {% if i in current_user.benchtop_oligosets %}
                                <i id="oligoset{{ i.id }}" class="glyphicon glyphicon-check"></i>
                            {% else %}
                                <i id="oligoset{{ i.id }}" class="glyphicon glyphicon-unchecked"></i>
                            {% endif %}
                            </a>
                        </td>
                        <td><a href="{{ url_for('oligoset_detail', taxatmid=[i.target.taxonomy, i.tmid]|join('-')) }}" title="view details of {{ i.target.taxonomy}}-{{ i.tmid }}">{{ i.target.taxonomy}}&#8209;{{ i.tmid }}</a></td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.target.symbol }}</td>
                        <td>{{ i.target.namelong }}</td>
                        <td>{{ i.date|isodate }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h3>You have no oligosets out on the bench</h3>
            To create an experiment, first select some oligosets.

        {% endif %}

        </div>

        <div class="col-md-4">
        <h3>Your saved experiments</h3>
            <table class="table table-striped table-bordered">
             <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>size</th>
                    <th>date</th>
                </tr>
            </thead>

            <tbody>
            {% for i in current_user.experiments %}
                <tr>
                    <td><a href="{{ url_for('oligoset_browse', exp=i.id) }}">{{ i.id }}</a></td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.oligosets|length }}</td>
                    <td><nobr>{{ i.date|isodate }}</nobr></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>


        <h3>Your job queue</h3>

        {% if current_user.jobs %}
            <table class="table table-striped table-bordered">
            <thead><tr>
                <th>Job name</th>
                <th>Submitted</th>
                <th>#done/#total</th>
            </tr></thead>

            {% for j in current_user.jobs %}
            <tr>
                <td><a href="{{ url_for('oligoset_results', jobid=j.id) }}">{{ j.jobname }}</a></td>
                <td>{{ j.created }}</td>
                <td>{{ j.numberdone }}/{{ j.numbertotal }}</td>
            </tr>
            {% endfor %}
            </table>


        {% else %}
            <p>No results available.  (Results are stored for 24 hours.)</p>
            <p>You can submit a new job on the <a href="{{ url_for("oligoset_design") }}">design</a> page.</p>
        {% endif %}

        </div>

    </div>


{% endblock %}