<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
    {% block head %}{% endblock %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>

  <body>
  <div class="navbar navbar-static-top">
    <p>Navigation Bar will go here</p>
  </div>

  <div id="wrap">
      <div class="container-fluid">
          {% block content %}{% endblock %}
      </div>
  </div>


  </body>
</html>
