<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/oli.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sijax/sijax.js') }}"></script>
    <script type="text/javascript">{{ g.sijax.get_js()|safe }}</script>
    {% block head %}{% endblock %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>

<body>

{% set navigation_bar = [
    ('oligosets', 'Oligos'),
    ('experiments', 'Experiments'),
] -%}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/favicon48.png') }}"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for page, caption in navigation_bar %}
                    <li{% if g.active_page == page %} class="active"{% endif %}><a href="{{ url_for(page) }}">{{ caption }}</a></li>
                {% endfor %}

                <li{% if g.active_page == 'benchtop' %} class="active"{% endif %}>
                    <a href="{{ url_for('benchtop') }}">My Benchtop
                        {% if current_user.is_authenticated() %}<span class="badge" id="benchtop_size">{{ current_user.oligosets | length }}</span>{% endif %}
                    </a>
                </li>

                {% if current_user.is_authenticated() %}


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ current_user.email }}<span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
                            </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('security.login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>

            <form class="navbar-form navbar-right" role="search" action="{{ url_for('site_search') }}" method="get">
                <div class="form-group">
                    <input id="search-term" name="siteterm" type="text" onclick="this.select()" class="form-control" value="{{ g.siteterm }}">
                </div>
                <button id="search-button" type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
</nav>


<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

</body>
</html>
