<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/oli.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
    {% block head %}{% endblock %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>

<body>

{% set navigation_bar = [
    (url_for('oligoset_browse'), 'oligoset_browse', 'Browse oligos'),
    (url_for('oligoset_create'), 'oligoset_create', 'New oligos'),
    (url_for('experiment_browse'), 'experiment_browse', 'Browse experiments')
] -%}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/favicon48.png') }}"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for href, id, caption in navigation_bar %}
                    <li{% if id == g.active_page %} class="active"{% endif %}><a href="{{ href }}">{{ caption }}</a></li>
                {% endfor %}
            </ul>

            <form class="navbar-form navbar-left" role="search" action="{{ url_for('site_search') }}" method="get">
                <div class="form-group">
                    <input id="search-term" name="term" type="text" onclick="this.select()" class="form-control" value="{{ g.term }}">
                </div>
                <button id="search-button" type="submit" class="btn btn-default">Search</button>
            </form>

            <ul class="navbar-btn navbar-right">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Benchtop</a>
            </ul>

        </div>
    </div>
</nav>


<div id="wrapper">


    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div id="sidebar-wrapper">
        <div class="container-fluid">
            {% block labbench %}{% include "_labbench.html" %}{% endblock %}
        </div>
    </div>

</div>


<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>
</html>
