{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Design New Oligos{% endblock %}

{% block content %}
<h1>Design New Oligos</h1>

    <div class="row-fluid">
        <div class="col-md-8">

            <form method="POST">
            {{ form.csrf_token }}

            <ul class="nav nav-tabs">
              <li class="active"><a href="#sequences" data-toggle="tab" aria-expanded="true">Sequences</a></li>
              <li class=""><a href="#p3taqman" data-toggle="tab" aria-expanded="false">Taqman Settings</a></li>
              <li class=""><a href="#p3preamp" data-toggle="tab" aria-expanded="false">Preamp Settings</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane active in" id="sequences">
                  {{ render_field(form.fasta_sequences, class="form-control", rows=30) }}
              </div>
              <div class="tab-pane" id="p3taqman">
                  These settings control how Primer3 picks the internal oligos (TMF, TMP, TMR).  Detailed information is
                  available in the <a href="{{ url_for('static', filename='primer3_manual.htm') }}">Primer3 manual</a>.
                  {{ render_field(form.primer3_config_taqman, class="form-control", rows=20) }}
              </div>
              <div class="tab-pane" id="p3preamp">
                  These settings control how Primer3 picks the flanking oligos (RTF, RTR).  Detailed information is
                  available in the <a href="{{ url_for('static', filename='primer3_manual.htm') }}">Primer3 manual</a>.
                  {{ render_field(form.primer3_config_preamp, class="form-control", rows=20) }}
              </div>
            </div>
            <input class="btn btn-primary btn-sm" type="submit" value="Lauch Primer3 Job">
            </form>

        </div>

    <div class="col-md-4">
        <h3>Your oligoset design jobs</h3>
        <table class="table table-striped table-bordered">
        </table>
    </div>

{% endblock %}