{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Design New Oligos{% endblock %}

{% block content %}
<h1>Design New Oligos</h1>

    <form method="POST">
    {{ form.csrf_token }}

    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                {{ render_field(form.jobname, class="form-control", with_label=False) }}
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Lauch Primer3 Job">
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ render_field(form.fasta_sequences, class="form-control padding:50px", rows=20, with_label=True) }}
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-md-8">
            The following settings control how Primer3 picks the internal Taqman oligos (TMF, TMP, TMR) and the flanking
            pre-amp oligos (RTF, RTR).  Detailed information is available in the <a href="{{ url_for('static', filename='primer3_manual.htm') }}">Primer3 manual</a>.
        </div>

        <div class="col-md-4">
        <select label="taxa" id="recipe" name="recipe" class="form-control" onchange="Sijax.request('design_recipe', [1]);">
            {% for r in g.recipes %}<option value="{{ r.id }}">{{ r.recipename }}</option>{% endfor %}
        </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <br>{{ render_field(form.primer3_config_taqman, class="form-control", rows=30, with_label=True) }}
        </div>
        <div class="col-md-6">
            <br>{{ render_field(form.primer3_config_preamp, class="form-control", rows=30, with_label=True) }}
        </div>
    </div>

    </form>

{% endblock %}