{% extends "base.html" %}
{% block content %}
    <h1>Oligoset details</h1>


    <table class="table table-bordered table-condensed table-striped">
    <tr><td>name</td><td>{{ g.oligoset.name }}</td></tr>
    <tr><td>id</td><td><nobr>{{ g.oligoset.target.taxonomy }}-{{g.oligoset.tmid }}</nobr></td></tr>
    <tr><td>notes</td><td>{{ g.oligoset.notes }}</td></tr>
    <tr><td>design date</td><td>{{ g.oligoset.date|isodate }}</td></tr>
    <tr><td>target symbol</td><td>{{ g.oligoset.target.symbol }}</td></tr>
    <tr><td>target description</td><td>{{ g.oligoset.target.namelong }}</td></tr>
    <tr><td>target name alts</td><td>{{ g.oligoset.target.namealts }}</td></tr>
    </table>

    <h2>Oligo details</h2>
    <table class="table table-bordered table-condensed table-striped", width=1000>
    <tr>
        <th>tubename</th>
        <th>oligo id</th>
        <th>sequence</th>
        <th>order date</th>
    </tr>
    {% for o in g.oligoset.oligos %}
    <tr>
        <td>{{ o }}</td>
        <td>{{ o.oligoid }}</td>
        <td>{{ o.sequence }}</td>
        <td>{{ o.orderdate|isodate }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
